<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","className":"site-main wp-block-group","style":{"spacing":{"padding":{"top":"var:preset|spacing|5xl","bottom":"var:preset|spacing|5xl"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main" style="padding-top:var(--wp--preset--spacing--5xl);padding-bottom:var(--wp--preset--spacing--5xl)">
	<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|md"}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:heading {"textAlign":"center","level":1,"fontSize":"5xl"} -->
		<h1 class="wp-block-heading has-text-align-center has-5-xl-font-size">404</h1>
		<!-- /wp:heading -->
		<!-- wp:heading {"textAlign":"center","level":2} -->
		<h2 class="wp-block-heading has-text-align-center">Страница не найдена</h2>
		<!-- /wp:heading -->
		<!-- wp:paragraph {"align":"center"} -->
		<p class="has-text-align-center">Запрошенная страница не существует или была перемещена.</p>
		<!-- /wp:paragraph -->
		<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
		<div class="wp-block-buttons">
			<!-- wp:button -->
			<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="/">На главную</a></div>
			<!-- /wp:button -->
		</div>
		<!-- /wp:buttons -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
